body{
    background-color: #fcfcfc;
    height: 100vh;
}
.container{
  background-color: #fff !important;
  border-radius: 10px;
  box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
img{
  width: 100%;
  width: 150px;
 }
 .img_mini{
  width: 90px !important;
 }
 h1{
  background-color: #f2f4f8;
  font-size: 35px;
  font-weight: 800;
 }
 #btns{
  display: flex;
  justify-content: space-between;
 }
.negrita{
  color: black;
}
h2{
  font-weight: 800;
  line-height: 60px !important;
}

.index{
    background-color: orange;
    padding: 12px;
    font-weight: bold;
}
.namePhone{
  float: right;
  color: black;
}
.media{
    border-bottom: 1px solid #9999;
    margin-bottom: 34px !important;
}